:root {
  font-size: calc(0.8rem + 0.6vw);
}

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  height: 100svh;
  background-color: #333;
  font-family: "Roboto Light", sans-serif;
  letter-spacing: 1px;
}

.wrapper {
  border: darkgreen 2px solid;
  box-shadow: 0 0 10px 5px darkgreen;
  background-color: #51bbff;
  border-radius: 10px;
  margin: 0 auto;
  width: 80vmin;
  height: 100%;
  text-align: center;
}

.header {
  font-size: 30px;
  font-weight: 800;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.settings__title {
  color: #ffeea5;
}

.settings span {
  font-size: 0.7rem;
    color: #ffeea5;
}

.start {
  display: block;
  width: fit-content;
  margin: 3em auto;
  background: linear-gradient(90deg, #ff6b43, #436fff);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fbb840;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fbb840;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="number"] {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  color: #333;
  box-shadow: 0 0 5px 2px #fbb840;
}
